<footer
  class="mt-5 d-flex flex-wrap justify-content-between px-5 py-4"
  style="width: 100%; background-color: #1a1638"
>
  <div class="d-flex flex-wrap">
    <h4 class="me-2">CMSC-21 Blogs</h4>
    <a
      class="nav-link"
      href="https://github.com/cup-noodlehS/CMSC21Blogs"
      target="_balnk"
      ><img
        src="/images/github-mark.svg"
        alt=""
        style="width: 1.5rem; filter: brightness(10000%)"
    /></a>
  </div>
  <div>&copy; 2023 CMSC-21 Blogs | Created by Sheldon Arthur Sagrado</div>
  <div>
    <a href="/#blogs" class="text-light me-3">Blogs</a>
    <a href="/aboutus" class="text-light">About Us</a>
  </div>
</footer>
