<footer
  class="mt-5 d-flex flex-wrap justify-content-between px-5 py-4"
  style="width: 100%; background-color: #1a1638"
>
  <div>
    <h4>CMSC-21 Blogs</h4>
  </div>
  <div>&copy; 2023 CMSC-21 Blogs | Created by Sheldon Arthur Sagrado</div>
  <div>
    <a href="/#blogs" class="text-light me-3">Blogs</a>
    <a href="/aboutus" class="text-light">About Us</a>
  </div>
</footer>
