<nav class="navbar navbar-expand-lg bg-transparent p-3">
  <div class="container-fluid">
    <a class="navbar-brand col-5" href="/#top">
      <h4 class="fw-bolder text-light me-5">
        <span><img src="images/UP.png" id="up" alt="" /></span>CMSC-21 Blogs
      </h4></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-7" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="/#blogs"
            >Blogs</a
          >
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/aboutus">About us</a>
        </li>
        <li class="nav-item me-3">
          <a
            class="nav-link"
            href="https://substack.com/profile/129719457-don"
            target="_balnk"
            >Substack</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="nav-link"
            href="https://github.com/cup-noodlehS/CMSC21Blogs"
            target="_balnk"
            ><img
              src="/images/github-mark.svg"
              alt=""
              style="width: 1.5rem; filter: brightness(10000%)"
          /></a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/#blogs">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
