<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="/images/UP.png" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
    <title>CMSC Blog</title>
  </head>
  <body>
    <div class="" id="top"></div>
    <header><%- include('./partials/navbar') %></header>
    <main class="d-felx flex-column container-fluid">
      <div class="home vh-100">
        <div class="row justify-content-center m" id="home">
          <div class="window col-lg-6">
            <img src="images/aboutus.png" alt="" id="window" />
          </div>
        </div>
      </div>
    </main>
    <%- include("./partials/footer") %>

    <script src="app.js"></script>
    <script src="bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
